@import "tailwindcss";

.current-card {
  @apply bg-CONTAINER-BGCOLOR border-LIGHT-BORDER-COLOR mt-2 flex h-30 w-40 grow flex-col justify-between rounded-lg border border-solid p-6 md:w-47;
}

.daily-card {
  @apply bg-CONTAINER-BGCOLOR border-LIGHT-BORDER-COLOR flex w-25 flex-col items-center rounded-lg border p-2;
  & > .temp {
    @apply flex w-full justify-between;
  }
  img {
    @apply w-fit;
  }
}

.hourly-card {
  @apply bg-LIGHT-BGCOLOR border-LIGHT-BORDER-COLOR mb-4 flex items-center justify-between rounded-lg border border-solid p-2;
  & > .icon-time {
    @apply flex w-25 items-center;
    img {
      @apply w-10;
    }
  }
}

@custom-variant 570 {
  @media screen and (width <= 570px) {
    @slot;
  }
}

@custom-variant 1290 {
  @media screen and (width < 1290px) {
    @slot;
  }
}

@custom-variant 400 {
  @media screen and (width > 400px) {
    @slot;
  }
}

.units-drop-down {
  @apply bg-CONTAINER-BGCOLOR border-LIGHT-BORDER-COLOR absolute top-15 z-20 w-60 flex-col gap-1 rounded-lg border border-solid p-2 shadow-2xl/70;
  .unit {
    @apply hover:bg-LIGHT-BGCOLOR flex min-h-12 min-w-12 justify-between rounded-lg p-2 text-left;
  }
  .header {
    @apply border-t-LIGHT-BORDER-COLOR text-FADED-COLOR border-t p-2;
  }
  .switchBtn {
    @apply hover:bg-LIGHT-BGCOLOR min-h-12 min-w-12 rounded-lg p-2 text-left;
  }
}

.days-drop-down {
  @apply bg-CONTAINER-BGCOLOR border-LIGHT-BORDER-COLOR absolute top-13 z-20 w-60 flex-col gap-1 rounded-lg border border-solid p-2 shadow-2xl/70;
  & > .day {
    @apply hover:bg-LIGHT-BGCOLOR flex min-h-12 min-w-12 justify-between rounded-lg p-2 text-left hover:cursor-pointer;
  }
}

.searchSuggestion {
  @apply hover:bg-LIGHT-BGCOLOR flex min-h-12 min-w-12 justify-between rounded-lg p-2 text-left hover:cursor-pointer;
}

@theme {
  /*|| COLORS */
  --color-BGCOLOR: rgb(2, 1, 43);
  --color-CONTAINER-BGCOLOR: rgb(37, 37, 63);
  --color-SEARCH-BTN-COLOR: rgb(70, 87, 217);
  --color-LIGHT-BGCOLOR: rgb(47, 47, 73);
  --color-BORDER-COLOR: rgb(36, 35, 67);
  --color-LIGHT-BORDER-COLOR: rgb(60, 60, 90);
  --color-FADED-COLOR: rgb(132, 134, 154);
  --color-SEARCHBTN-HOVER-COLOR: rgb(44, 27, 157);
  --color-SEARCHBTN-BORDER-COLOR: rgb(77, 91, 198); /*|| FONT */
  --text-FS: 18px;
  --font-HEADER-FONT: "Bricolage Grotesque", sans-serif;
  --font-FONT-FAM: "DM Sans", sans-serif;
}
